{% set feed_url = blog.url == '/' or blog.url == base_url_relative ? (base_url_relative~'/'~blog.slug) : blog.url %}
{% set new_base_url = blog.url == '/' ? '' : blog.url %}

{% if config.plugins.simplesearch.enabled %}
<div class="sidebar-content">
    <h5>{{ 'SIDEBAR.SIMPLE_SEARCH.HEADLINE'|t }}</h5>
    {% include 'partials/simplesearch_searchbox.html.twig' %}
</div>
{% endif %}

{% if page.header.markdown_area_location == 'top' or page.header.markdown_area_location is empty %}
  {% set content = pages.find('/sidebar').content %}
  {% if content is not empty %}
    <div class="sidebar-content">
      {{ content }}
    </div>
  {% endif %}
{% endif %}

{% if config.plugins.relatedpages.enabled and related_pages|length > 0 %}
    <h5>{{ 'SIDEBAR.RELATED_POSTS.HEADLINE'|t }}</h5>
    {% include 'partials/relatedpages.html.twig' %}
{% endif %}

{% if config.plugins.random.enabled %}
<div class="sidebar-content">
    <h5>{{ 'SIDEBAR.RANDOM_ARTICLE.HEADLINE'|t }}</h5>
    <a class="btn" href="{{ base_url_relative }}/random"><i class="fa fa-retweet"></i> I'm Feeling Lucky!</a>
</div>
{% endif %}

{% if config.plugins.taxonomylist.enabled %}
<div class="sidebar-content">
    <h5>{{ 'SIDEBAR.POPULAR_TAGS.HEADLINE'|t }}</h5>
    {% include 'partials/taxonomylist.html.twig' with {'base_url':new_base_url, 'taxonomy':'tag'} %}
</div>
{% endif %}

{% if config.plugins.archives.enabled %}
<div class="sidebar-content">
    <h5>{{ 'SIDEBAR.ARCHIVES.HEADLINE'|t }}</h5>
	{% include 'partials/archives.html.twig' with {'base_url':new_base_url} %}
</div>
{% endif %}

{% if page.header.markdown_area_location == 'bottom' %}
  {% set content = pages.find('/sidebar').content %}
  {% if content is not empty %}
    <div class="sidebar-content">
      {{ content }}
    </div>
  {% endif %}
{% endif %}

{% if config.plugins.feed.enabled %}
<div class="sidebar-content">
    <h5>{{ 'SIDEBAR.SYNDICATE.HEADLINE'|t }}</h5>
    <div class="btn-group">
        <a class="btn btn-warning" href="{{ feed_url }}.atom"><i class="fa fa-rss-square"></i> Atom 1.0</a>
        <a class="btn btn-warning" href="{{ feed_url }}.rss"><i class="fa fa-rss-square"></i> RSS</a>
    </div>
</div>
{% endif %}
