{% embed 'partials/base.html.twig' %}

{% if page.header.show_sidebar is defined %}
  {% set show_sidebar = page.header.show_sidebar %}
{% else %}
  {% set show_sidebar = true %}
{% endif %}

{% block content %}
  <div class="main-content">
    <div class="container">
      <div class="row">
        {# check content display flag - hibbittsdesign.org #}
        {% if show_sidebar and not (grav.uri.param('chromeless') or grav.uri.param('embedded') or theme_var('chromeless.enabled')) %}
          <div class="col-md-8 blog-main">
        {% else %}
          <div class="col-md-12 blog-main">
        {% endif %}

        {% if not (page.header.hide_page_title) and not (grav.uri.param('hidepagetitle')) %}
          <h1>{{page.title}}</h1>
        {% else %}
          <h1 class="hidden">{{page.title}}</h1>
        {% endif %}
        {{ page.content|raw }}
        <div id="accordion" role="tablist" aria-multiselectable="true">

          <div class="card">

              {% set collection = page.collection() %}
              {% set index = 1 %}
              {% for page in page.collection() %}

                {% if page.children %}

                  <h2 class="card-header" role="tab" id="heading{{index}}">
                      <a class="collapsed d-block" data-toggle="collapse" href="#collapse{{index}}" aria-expanded="true" aria-controls="#collapse{{index}}" id="heading{{index}}">
                          <i class="fa fa-chevron-left pull-right"></i> {{ page.title }}
                      </a>
                  </h2>

                  <div id="collapse{{index}}" class="collapse" role="tabpanel" aria-labelledby="heading{{index}}">
                    <div class="card-body">

                      {% for child in page.children %}
                        {{ child.content|raw }}
                      {% endfor %}

                    </div>
                  </div>

                {% endif %}

                {% set index = index + 1 %}

              {% endfor %}
            </div>

            {# Creative Commons License -  hibbittsdesign.org #}
            {% if not (grav.uri.param('chromeless') or grav.uri.param('embedded')) and not(theme_var('chromeless.enabled')) and (theme_var('cc_license.enabled') and not(page.header.hide_cc_license)) %}
              <p>{% include 'partials/creative_commons_license.html.twig' %}</p>
            {% endif %}

            {# Git repository edit link - hibbittsdesign.org #}
            {% if ( page.header.git_sync_repo_link_display is defined and page.header.git_sync_repo_link_display == 'page' ) or (( theme_var('display_of_git_sync_repo_link') == 'page' and page.header.git_sync_repo_link_display is not defined ) and not (page.header.hide_git_sync_repo_link)) %}
              <br>
              <hr>
              <p>{% include 'partials/git_sync_repo_link_note.html.twig' %}</p>
            {% endif %}

      </div>
    </div>

      {# check content display flag - hibbittsdesign.org #}
      {% if show_sidebar and not (grav.uri.param('chromeless') or grav.uri.param('embedded') or theme_var('chromeless.enabled')) %}
        <div class="col-md-4 blog-sidebar">
          {% include 'partials/sidebar.html.twig' with {'blog':page} %}
        </div>
      {% endif %}

      </div>
    </div>
  </div>

  {% endblock %}

{% endembed %}

<script>

$(document).ready(function(){

});

</script>
