{% set arrayofpath = uri.path | split('/') %}
{% set firstfolderofpath = arrayofpath[1] %}

{% if page.parent.parent.parent.header.hide_next_prev_page_buttons is defined %}
  {% set hide_next_prev_page_buttons = page.parent.parent.parent.header.hide_next_prev_page_buttons %}
{% elseif page.parent.parent.header.hide_next_prev_page_buttons is defined %}
  {% set hide_next_prev_page_buttons = page.parent.parent.header.hide_next_prev_page_buttons %}
{% elseif page.parent.header.hide_next_prev_page_buttons is defined %}
  {% set hide_next_prev_page_buttons = page.parent.header.hide_next_prev_page_buttons %}
{% endif %}

{% embed 'partials/base.html.twig' %}

  {% if page.header.show_sidebar is defined %}
    {% set show_sidebar = page.header.show_sidebar %}
  {% else %}
    {% if page.parent.header.show_sidebar is defined %}
      {% set show_sidebar = page.parent.header.show_sidebar %}
    {% else %}
      {% if page.parent.parent.header.show_sidebar is defined %}
        {% set show_sidebar = page.parent.parent.header.show_sidebar %}
      {% else %}
        {% set show_sidebar = true %}
      {% endif %}
    {% endif %}
  {% endif %}

  {% if page.header.sections_nav_align is defined %}
    {% set sections_nav_align = page.header.sections_nav_align %}
  {% else %}
    {% if page.parent.header.sections_nav_align is defined %}
      {% set sections_nav_align = page.parent.header.sections_nav_align %}
    {% else %}
      {% if page.parent.parent.header.sections_nav_align is defined %}
        {% set sections_nav_align = page.parent.parent.header.sections_nav_align %}
      {% endif %}
    {% endif %}
  {% endif %}

  {% block content %}

    {% set activetag = uri.param('filter') %}

    <div class="main-content">
      <div class="container">
        <div class="row">

          {% if sections_nav_align == 'right' %}
            <div class="col-md-3 blog-sidebar order-last">
            {% else %}
              <div class="col-md-3 blog-sidebar">
              {% endif %}

              <ul class="nav flex-column">

                {% set collection = page.collection.visible() %}
                {% if collection is empty %}
                  {% set collection = page.parent.collection.visible() %}
                  {% if collection is empty %}
                    {% set collection = page.parent.parent.collection.visible() %}
                  {% endif %}
                {% endif %}
                {% for p in collection %}

                  <li class="nav-item">
                    {% set current_parent = p.active
                      ? 'active'
                      : '' %}
                    <a class="nav-link {{ current_parent }}" href="{% if activetag %}{{ p.url ~ '/filter:' ~ activetag }}{% else %}{{ p.url }}{% endif %}">{{ p.menu }}</a>
                  </li>

                  {% if p.children.count != 0 %}

                    {% if p.active or(p.slug == page.parent.slug) %}
                      <ul class="nav flex-column ml-3">
                        {% for child in p.children.visible %}
                          {% set current_child = child.active
                            ? 'active'
                            : '' %}
                          {% if activetag %}
                            {% if activetag in child.taxonomy['filter'] %}
                              <li class="nav-item">
                                <a class="nav-link {{ current_child }}" href="{% if activetag %}{{ child.url  ~ '/filter:' ~ activetag }}{% else %}{{ child.url }}{% endif %}">{{ child.menu }}</a>
                              </li>
                            {% endif %}
                          {% else %}
                            <li class="nav-item">
                              <a class="nav-link {{ current_child }}" href="{% if activetag %}{{ child.url  ~ '/filter:' ~ activetag }}{% else %}{{ child.url }}{% endif %}">{{ child.menu }}</a>
                            </li>
                          {% endif %}
                        {% endfor %}
                      </ul>
                    {% endif %}

                  {% endif %}

                {% endfor %}
            </ul>
          </div>

          {% if show_sidebar and not(grav.uri.param('chromeless')or grav.uri.param('embedded')or theme_var('chromeless.enabled')) %}
            <div class="col-md-5 blog-main order-first order-md-2">
            {% else %}
              <div class="col-md-9 blog-main order-first order-md-2">
              {% endif %}

              {% if not(page.header.hide_page_title)and not(grav.uri.param('hidepagetitle')) %}
                <h1>{{page.title}}</h1>
              {% endif %}

              {{ page.content|raw }}

              {% if not(hide_next_prev_page_buttons) %}

                <p class="prev-next">

                  {% set siblings = page.collection({
                    'items': {
                      '@page.children.visible': page.parent.route
                    }
                  }) %}
                  {% set children = page.collection({
                    'items': {
                      '@page.children.visible': page.route
                    }
                  }) %}

                  {% if not(page.template == 'sections') %}

                    {% if not siblings.isFirst(page.path) %}
                      {% if children | length != 0 %}
                        {% if (siblings.nextSibling(page.path).children | last) %}
                          <a class="btn btn-primary" href="{% if activetag %}{{ siblings.nextSibling(page.path).children|last.url ~ '/filter:' ~ activetag }}{% else %}{{ siblings.nextSibling(page.path).children|last.url }}{% endif %}">
                            <i class="fa fa-chevron-left"></i>
                            {{ siblings.nextSibling(page.path).children|last.menu }}
                          </a>
                        {% else %}
                          <a class="btn btn-primary" href="{% if activetag %}{{ siblings.nextSibling(page.path).url ~ '/filter:' ~ activetag }}{% else %}{{ siblings.nextSibling(page.path).url }}{% endif %}">
                            <i class="fa fa-chevron-left"></i>
                            {{ siblings.nextSibling(page.path).menu }}</a>
                        {% endif %}
                      {% else %}
                        {% if siblings.nextSibling(page.path).url %}
                          <a class="btn btn-primary" href="{% if activetag %}{{ siblings.nextSibling(page.path).url  ~ '/filter:' ~ activetag }}{% else %}{{ siblings.nextSibling(page.path).url }}{% endif %}">
                            <i class="fa fa-chevron-left"></i>
                            {{ siblings.nextSibling(page.path).menu }}</a>
                        {% endif %}
                      {% endif %}
                    {% else %}
                      {% if not(page.parent.template == 'sections') %}
                        <a class="btn btn-primary" href="{% if activetag %}{{ page.parent.url ~ '/filter:' ~ activetag }}{% else %}{{ page.parent.url }}{% endif %}">
                          <i class="fa fa-chevron-left"></i>
                          {{ page.parent.menu }}</a>
                      {% endif %}
                    {% endif %}

                    {% if not siblings.isLast(page.path) %}
                      {% if children | length == 0 %}
                        {% if siblings.prevSibling(page.path).url %}
                          <a class="btn btn-primary" href="{% if activetag %}{{ siblings.prevSibling(page.path).url ~ '/filter:' ~ activetag }}{% else %}{{ siblings.prevSibling(page.path).url }}{% endif %}">{{ siblings.prevSibling(page.path).menu }}
                            <i class="fa fa-chevron-right"></i>
                          </a>
                        {% endif %}
                      {% else %}
                        <a class="btn btn-primary" href="{% if activetag %}{{ page.children|first.url ~ '/filter:' ~ activetag }}{% else %}{{ page.children|first.url }}{% endif %}">{{ page.children|first.menu }}
                          <i class="fa fa-chevron-right"></i>
                        </a>
                      {% endif %}
                    {% else %}
                      {% if not(page.parent.template == 'sections') %}
                        {% set siblings = page.collection({
                          items: {
                            '@page.children.visible': page.parent.parent.route
                          }
                        }) %}
                        {% if not siblings.isLast(page.parent.path) %}
                          <a class="btn btn-primary" href="{% if activetag %}{{ siblings.prevSibling(page.parent.path).url ~ '/filter:' ~ activetag }}{% else %}{{ siblings.prevSibling(page.parent.path).url }}{% endif %}">{{ siblings.prevSibling(page.parent.path).menu }}
                            <i class="fa fa-chevron-right"></i>
                          </a>
                        {% endif %}
                      {% else %}
                        {% if page.children.count != 0 %}
                          <a class="btn btn-primary" href="{% if activetag %}{{ page.children|first.url ~ '/filter:' ~ activetag }}{% else %}{{ page.children|first.url }}{% endif %}">{{ page.children|first.menu }}
                            <i class="fa fa-chevron-right"></i>
                          </a>
                        {% endif %}
                      {% endif %}
                    {% endif %}

                  </p>

                {% endif %}

              {% endif %}

              {# Creative Commons License -  hibbittsdesign.org #}
              {% if not(grav.uri.param('chromeless')or grav.uri.param('embedded'))and not(theme_var('chromeless.enabled')) and (theme_var('cc_license.enabled')and not(page.header.hide_cc_license)) %}
                <p>{% include 'partials/creative_commons_license.html.twig' %}</p>
              {% endif %}

              {# Git repository edit link - hibbittsdesign.org #}
              {% if (page.header.git_sync_repo_link_display is defined and page.header.git_sync_repo_link_display == 'page')
                or((theme_var('display_of_git_sync_repo_link') == 'page' and page.header.git_sync_repo_link_display is not defined)and not(page.header.hide_git_sync_repo_link)) %}
                <br>
                <hr>
                <p>{% include 'partials/git_sync_repo_link_note.html.twig' %}</p>
              {% endif %}
            </div>

            {# check content display flag - hibbittsdesign.org #}
            {% if show_sidebar and not(grav.uri.param('chromeless')or grav.uri.param('embedded')or theme_var('chromeless.enabled')) %}
              <div class="col-md-4 blog-sidebar order-last">
                {% include 'partials/sidebar.html.twig' with {
                  'blog' : page
                } %}
              </div>
            {% endif %}

          </div>
        </div>
      </div>

    {% endblock %}

  {% endembed %}
