{% embed 'partials/base.html.twig' %}

{% if page.header.show_sidebar is defined %}
  {% set show_sidebar = page.header.show_sidebar %}
{% else %}
  {% if page.parent.header.show_sidebar is defined %}
    {% set show_sidebar = page.parent.header.show_sidebar %}
  {% else %}
    {% if page.parent.parent.header.show_sidebar is defined %}
      {% set show_sidebar = page.parent.parent.header.show_sidebar %}
    {% else %}
      {% set show_sidebar = true %}
    {% endif %}
  {% endif %}
{% endif %}

{% block content %}

  <div class="main-content">
    <div class="container">
      <div class="row">
        {# check content display flag - hibbittsdesign.org #}
        <div class="col-md-3 blog-sidebar">


        <ul class="nav flex-column">

        {% set collection = page.collection() %}
        {% if collection is empty %}
          {% set collection = page.parent.collection() %}
          {% if collection is empty %}
            {% set collection = page.parent.parent.collection() %}
          {% endif %}
        {% endif %}
        {% for p in collection %}

          <li class="nav-item">
            {% set current_parent = p.active ? 'disabled' : '' %}
            <a class="nav-link {{ current_parent }}" href="{{ p.url }}">{{ p.title }}</a>
          </li>

          {% if page.children %}

            {% if p.active or (p.slug == page.parent.slug) %}
              <ul class="nav flex-column ml-3">
              {% for child in p.children %}
                {% set current_child = child.active ? 'disabled' : '' %}
                <li class="nav-item">
                  <a class="nav-link {{ current_child }}" href="{{ child.url }}">{{ child.title }}</a>
                </li>
              {% endfor %}
              </ul>
            {% endif %}

          {% endif %}

        {% endfor %}
        </ul>
        </div>

        {% if show_sidebar and not (grav.uri.param('chromeless') or grav.uri.param('embedded') or theme_var('chromeless.enabled')) %}
          <div class="col-md-5 blog-main order-first order-md-2">
        {% else %}
          <div class="col-md-9 blog-main order-first order-md-2">
        {% endif %}

        {% if not (page.header.hide_page_title) and not (grav.uri.param('hidepagetitle')) %}
          <h3>{{page.title}}</h3>
        {% else %}
          <h3 aria-label={{page.title}}></h3>
        {% endif %}

        {{ page.content }}

          <p class="prev-next">
            {% set siblings = page.parent.children() %}
            {% set children = page.children() %}

      {% if not (page.parent.slug == 'pages') %}

        <p>

            {% if not siblings.isFirst(page.path) %}
                {% if page.children.count == 0 %}
                  <a class="btn btn-primary" href="{{ siblings.nextSibling(page.path).url }}"><i class="fa fa-chevron-left"></i> {{ siblings.nextSibling(page.path).title }}</a>
                {% else %}
                  <a class="btn btn-primary" href="{{ siblings.nextSibling(page.path).url }}"><i class="fa fa-chevron-left"></i> {{ siblings.nextSibling(page.path).title }}</a>
                {% endif %}
            {% else %}
                {% if not (page.parent.parent.slug == 'pages') %}
                  <a class="btn btn-primary" href="{{ page.parent.url }}"><i class="fa fa-chevron-left"></i> {{ page.parent.title }}</a>
                {% endif %}
            {% endif %}

            {% if not siblings.isLast(page.path) %}
              {% if page.children.count == 0 %}
                <a class="btn btn-primary" href="{{ siblings.prevSibling(page.path).url }}">{{ siblings.prevSibling(page.path).title }} <i class="fa fa-chevron-right"></i></a>
              {% else %}
                <a class="btn btn-primary" href="{{ page.children|first.url }}">{{ page.children|first.title }} <i class="fa fa-chevron-right"></i></a>
              {% endif %}
            {% else %}
			          {% if not (page.parent.parent.slug == 'pages') %}
                  {% set siblings = page.parent.parent.children() %}
                  {% if not siblings.isLast(page.parent.path) %}
                    <a class="btn btn-primary" href="{{ siblings.prevSibling(page.parent.path).url }}">{{ siblings.prevSibling(page.parent.path).title }} <i class="fa fa-chevron-right"></i></a>
                  {% endif %}
                {% else %}
                  <a class="btn btn-primary" href="{{ page.children|first.url }}">{{ page.children|first.title }} <i class="fa fa-chevron-right"></i></a>
              {% endif %}
            {% endif %}

          </p>

        {% endif %}

    </div>

      {# check content display flag - hibbittsdesign.org #}
      {% if show_sidebar and not (grav.uri.param('chromeless') or grav.uri.param('embedded') or theme_var('chromeless.enabled')) %}
        <div class="col-md-4 blog-sidebar order-last">
          {% include 'partials/sidebar.html.twig' with {'blog':page} %}
        </div>
      {% endif %}

      </div>
    </div>
  </div>

  {% endblock %}

{% endembed %}
