{% embed 'partials/base.html.twig' %}

{% block content %}
  <div class="main-content">
    <div class="container">
      <div class="row">
        {# check content display flag - hibbittsdesign.org #}
        {% if not (grav.uri.param('chromeless')) and (not config.site.chromeless.enabled) %}
          <div class="col-md-8 blog-main">
        {% else %}
          <div class="col-md-12 blog-main">
        {% endif %}
        {% if not (page.header.hide_page_title) and not (grav.uri.param('hidepagetitle')) %}
          <h3>{{page.title}}</h3>
        {% else %}
          <h3 aria-label={{page.title}}></h3>
        {% endif %}

        {% if config.plugins['twigfeeds'].enabled %}

          {% set index = 1 %}
          {% set feed_items = [] %}
          {% for name, feed in twig_feeds %}
            {% for item in feed.items %}
              {% set index = index + 1 %}
              {% set item = item|merge({ 'retrievedTitle': feed.title }) %}
              {% set item = item|merge({ 'sortDate': item.date.date }) %}
              {% set feed_items = feed_items|merge({ (index): (item) }) %}
            {% endfor %}
          {% endfor %}

          {% if uri.param('page') %}
            {% set currentPage = uri.param('page') %}
          {% else %}
            {% set currentPage = 1 %}
          {% endif %}
          {% if page.header.rss_feed_limit %}
            {% set perPage = page.header.rss_feed_limit %}
          {% else %}
            {% set perPage = 10 %}
          {% endif %}
          {% set totalPages = (feed_items|length / perPage)|round(0, 'ceil') %}
          {% set start = currentPage * perPage - perPage %}
          {% set paginationLimit = perPage - 1 %}

          {{ page.content }}

          {% for index, item in feed_items|sort_by_key('sortDate')|reverse|slice(start, perPage) %}
            <h4>
            <a class="newwindow external-link" href="{{ item.url }}">{{ item.title }}</a>
            </h4>
            <time>{{ item.date.date|date("m/d/Y") }}</time>, {{ item.retrievedTitle }}
            {% if page.header.rss_feed_header_images and not (page.header.rss_feed_preview_paragraphs == 'all') %}
              <p>{{ item.content|preg_get('/(<img(?:(\s*(class)\s*=\s*\x22([^\x22]+)\x22*)+|[^>]+?)*>)/') }}</p>
            {% endif %}
            {% set paragraphs = item.content | split('</p>') %}
            {% set firstParagraph = paragraphs[0] ~ '</p>' %}
            {% set secondParagraph = paragraphs[1] ~ '</p>' %}
            {% if not (page.header.rss_feed_preview_paragraphs == 'none') %}
              {% if page.header.rss_feed_preview_paragraphs == 'all' %}
                {{ item.content }}
              {% else %}
                <p>{{ firstParagraph | striptags }}</p>
                {% if page.header.rss_feed_preview_paragraphs == 'two' %}
                <p>{{ secondParagraph | striptags }}</p>
              {% endif %}
                <p><a class="newwindow external-link" href="{{ item.url }}">{{ 'BLOG.ITEM.CONTINUE_READING'|t }}</a></p><br>
              {% endif %}
            {% endif %}
          {% endfor %}

          {% if page.header.rss_feed_pagination %}
            {% set rssfeedpagination = page.header.rss_feed_pagination %}
          {% else %}
            {% set rssfeedpagination = true %}
          {% endif %}
          {% if totalPages > 1 and rssfeedpagination %}
            <div class="text-center">
            <ul class="pagination">
                {% if currentPage <= 1 %}
                  <li class="page-item disabled">
                      <span class="page-link" aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                  </li>
                {% else %}
                  <a class="page-link" href="{{ page.url }}/page:{{ currentPage - 1 }}">&laquo;</a>
                {% endif %}
                {% for i in 1..totalPages %}
                  {% if (currentPage - paginationLimit) - loop.index == 0 %}
                    <li class="page-item">
                        <span>&hellip;</span>
                    <li class="page-item">
                  {% elseif (currentPage + paginationLimit) - loop.index == 0 %}
                    <li class="page-link">
                        <span>&hellip;</span>
                    <li class="page-item">
                  {% elseif (currentPage - paginationLimit) - loop.index > 0 %}
                  {% elseif (currentPage + paginationLimit) - loop.index < 0 %}
                  {% else %}
                    <li class="page-item {% if currentPage == loop.index  %} active{% endif %}">
                        <a class="page-link" href="{{ page.url }}/page:{{ loop.index }}">{{ loop.index }}</a>
                    </li>
                  {% endif %}
                {% endfor %}

                {% if currentPage >= totalPages %}
                  <li class="page-item disabled">
                      <span class="page-link" aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                  </li>
                {% else %}
                  <li class="page-item">
                      <a class="page-link" href="{{ page.url }}/page:{{ currentPage + 1 }}">&raquo;</a>
                  </li>
                {% endif %}
              </ul>
            </div>
          {% endif %}

	      {% else %}
		       {% set admin_panel_appearance_url = grav.base_url ~ '/admin/plugins/twigfeeds' %}
           <a class="newwindow external-link" href="{{ admin_panel_appearance_url }}" title="Enable Twig Feeds Plugin">
           <i class="fa fa-cog" aria-hidden="true"></i>
           Enable and configure Twig Feeds Plugin</a> to display RSS Feeds on this page.
        {% endif %}

        {# Creative Commons License -  hibbittsdesign.org #}
        {% if theme_var('cc_license.enabled') and not (page.header.hide_cc_license) %}
          <p>{% include 'partials/creative_commons_license.html.twig' %}</p>
        {% endif %}

        {# Git repository edit link -  hibbittsdesign.org #}
        {% if ( page.header.git_sync_repo_link_display is defined and page.header.git_sync_repo_link_display == 'page' ) or (( config.site.gitrepo.editlinklocation == 'page' and page.header.git_sync_repo_link_display is not defined ) and not (page.header.hide_git_sync_repo_link)) %}
          <hr>
          <br>
          {% include 'partials/gitrepo_link_note.html.twig' %}
          <br>
        {% endif %}
        </div>
        {# check content display flag - hibbittsdesign.org #}
        {% if not (grav.uri.param('chromeless')) and not(theme_var('chromeless.enabled')) %}
          <div class="col-md-4 blog-sidebar">
            {% include 'partials/sidebar.html.twig' with {'blog':page} %}
          </div>
        {% endif %}
      </div>
    </div>
    </div>
  {% endblock %}

{% endembed %}
