{% if page.header.hero_image %}
  {% set header_image_media = page.media.images[page.header.hero_image] %}
{% else %}
  {% set header_image_media = page.media.images | first %}
{% endif %}

{% if header.card_width is defined %}
  {% set card_width = header.card_width %}
{% else %}
  {% set card_width = 3 %}
{% endif %}

{% if page.header.show_sidebar is defined %}
  {% set show_sidebar = page.header.show_sidebar %}
{% else %}
  {% set show_sidebar = true %}
{% endif %}

{% embed 'partials/base.html.twig' %}

  {% block content %}

    {# check content display flag - hibbittsdesign.org #}
    {% if not(grav.uri.param('chromeless')or grav.uri.param('embedded'))and not(theme_var('chromeless.enabled')) %}
      {# check for hero image - hibbittsdesign.org #}
      {% if header_image_media is not empty %}
        {% include 'partials/hero.html.twig' %}
      {% endif %}
    {% endif %}

    <div class="main-content">
      <div class="container">
        <div class="row">
          {# check content display flag - hibbittsdesign.org #}
          {% if not(grav.uri.param('chromeless')or grav.uri.param('embedded'))and not(theme_var('chromeless.enabled')) and (show_sidebar) %}
            <div class="col-md-8 blog-main">
            {% else %}
              <div class="col-md-12 blog-main">
              {% endif %}

              {% if not(page.header.hide_page_title)and not(grav.uri.param('hidepagetitle')) %}
                <h1>{{page.title}}</h1>
              {% else %}
                <h1 class="hidden">{{page.title}}</h1>
              {% endif %}

              {{ page.content|raw }}

              <div class="card-deck">

                {% set siblings = page.collection({items: '@self.siblings','order': {'by': page.header.content.order.by, 'dir': page.header.content.order.dir}}) %}
                {% for page in siblings %}
                  {# Added check for hiding post in list - hibbittsdesign.org #}
                  {% if page.header.hide_from_subsite_list != true and(page.template == 'subsite') %}
                    {% if page.header.subsite_home is defined %}
                      {% set subsite_home = page.header.subsite_home %}
                    {% else %}
                      {% set subsite_home = config.system.home.alias|trim('/') %}
                    {% endif %}
                    <div class="card col-lg-{{ card_width }}">
                      <div class="card-body">
                        {% set subsite_image = page.find('/' ~ page.slug ~ '/headerimage').media.images | first %}
                        {% if subsite_image is empty %}
                          {% set subsite_image = page.find('/' ~ page.slug ~ '/' ~ subsite_home).media.images | first %}
                        {% endif %}
                        {% if subsite_image is not empty %}
                          <a href="{{ page.url ~ '/' ~ subsite_home }}"><img class="card-img-top" src="{{subsite_image.url}}" alt="Card image cap"></a>
                        {% endif %}
                        {% if page.header.subsite_list_title %}
                          {% set subsite_title = page.header.subsite_list_title %}
                        {% else %}
                          {% set subsite_title = page.title %}
                        {% endif %}
                        <h2 class="card-title">
                          <a href="{{ page.url ~ '/' ~ subsite_home }}">{{ subsite_title }}</a>
                        </h2>
                        {% if page.header.subsite_list_description %}
                          <p class="card-text">{{ page.header.subsite_list_description }}</p>
                        {% endif %}
                        {{ page.find('/' ~ page.slug).content|raw}}
                      </div>
                    </div>
                  {% elseif page.header.hide_from_subsite_list != true and(page.template == 'subsitegroup') %}
                    {% set subsite_folder = page.slug %}
                    {% set children = page.collection({'items': {'@page.children': page.route}}) %}
                    {% for p in children %}
                      {% if p.header.hide_from_subsite_list != true and (p.template == 'subsite') %}
                        {% if p.header.subsite_home is defined %}
                          {% set subsite_home = p.header.subsite_home %}
                        {% else %}
                          {% set subsite_home = 'home' %}
                        {% endif %}
                        <div class="card col-lg-{{ card_width }}">
                          <div class="card-body">
                            {% set subsite_image = page.find('/' ~ subsite_folder ~ '/' ~ p.slug ~ '/headerimage').media.images | first %}
                            {% if subsite_image is empty %}
                              {% set subsite_image = page.find('/' ~ subsite_folder ~ '/' ~ p.slug ~ '/' ~ subsite_home).media.images | first %}
                            {% endif %}
                            {% if subsite_image is not empty %}
                              <a href="{{ p.url ~ '/' ~ subsite_home }}"><img class="card-img-top" src="{{subsite_image.url}}" alt="Card image cap"></a>
                            {% endif %}
                            {% if p.header.subsite_site_title %}
                              {% set subsite_title = p.header.subsite_site_title %}
                            {% else %}
                              {% set subsite_title = p.title %}
                            {% endif %}
                            <h2 class="card-title">
                              <a href="{{ p.url ~ '/' ~ subsite_home }}">{{ subsite_title }}</a>
                            </h2>
                            {% if p.header.subsite_list_description %}
                              <p class="card-text">{{ p.header.subsite_list_description }}</p>
                            {% endif %}
                            {{ page.find('/' ~ subsite_folder ~ '/' ~ p.slug).content|raw}}
                          </div>
                        </div>
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                {% endfor %}

              </div>

              {# Creative Commons License -  hibbittsdesign.org #}
              {% if not (grav.uri.param('chromeless') or grav.uri.param('embedded')) and not(theme_var('chromeless.enabled')) and (theme_var('cc_license.enabled') and not(page.header.hide_cc_license)) %}
                <p>{% include 'partials/creative_commons_license.html.twig' %}</p>
              {% endif %}
              {# Git repository edit link -  hibbittsdesign.org #}
              {% if ( page.header.git_sync_repo_link_display is defined and page.header.git_sync_repo_link_display == 'page' ) or (( theme_var('display_of_git_sync_repo_link') == 'page' and page.header.git_sync_repo_link_display is not defined ) and not (page.header.hide_git_sync_repo_link)) %}
                  <p>{% include 'partials/git_sync_repo_link_note.html.twig' %}</p>
              {% endif %}

            </div>

            {# Check content display flag - hibbittsdesign.org #}
            {% if not(grav.uri.param('chromeless')or grav.uri.param('embedded'))and not(theme_var('chromeless.enabled')) and (show_sidebar) %}
              <div class="col-md-4 blog-sidebar">
                {% include 'partials/sidebar.html.twig' with {
                  'blog' : page
                } %}
              </div>
            {% endif %}

          </div>
        </div>
      </div>
    {% endblock %}

  {% endembed %}
